body{
    background-image: url(/images/ghana-gaf7dd2765_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#logo{
    height: 15vh;
    width: 20vh;

}
#akan h4{
    text-align: end;
    font-family: 'Sofia';
    font-weight: bold;
    font-size: 30px;
}
.form-fill{
    height: 300px;
    box-shadow: 30%;
    opacity: 0.8;
    
    
    
}
#validate{
    padding-top: 30px;
    background-color: goldenrod;
    height: 380px;
    margin-top: 3%;

}
#day{
    width: 100vh;
    margin-left: 50px;
}
#validate label{
    margin-left: 50px;
    font-weight: bolder;
}
.month{
    margin-top: 20px;
}
.year{
    margin-top: 20px;
}
#gender{
    margin-top: 20px;
    margin-left: 50px;
    height: 30px;
    width: 100px;
}
#gender value{
    font-weight: 80px;
}
#line{
    margin-top: 3%;
    background-color:black;
    color: black;
    width: 100%;
    border: 30px;
    height: 10px;
}
#btn{
    margin-top: 2%;
    margin-left: 50px;
    border: 2px black;
    border-radius: 20px;
    color: black;
    height: 6vh;
    width: 30vh;
    font-weight: bolder;
    background-color: red;
}