body{
    background-image: url(/images/sunset-ga564b39a6_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#logo{
    height: 15vh;
    width: 20vh;

}
#akan h4{
    /* text-align: end; */
    font-family: 'Sofia', cursive;
    font-weight: bold;
    font-size: 30px;
}
.card{
    width: 80%;
    margin-top: 40px;
    margin-left: 90px;
    box-shadow: 20px;
}
.card-body{
    margin-left: 30px;
}
#btn {
    margin-top: 60px;
    margin-left: 80px;
    border: 2px black;
    border-radius: 20px;
    color: black;
    height: 10vh;
    width: 60vh;
    background-color: goldenrod;
    font-weight: bold;
}
#hr-line{
    margin-top: 30px;
    border: 30px;
    height: 12px;
    color:black;
    /* margin-bottom: 50px; */
    width: 100%;
}
.card-title{
    background: linear-gradient(to right,yellow,green );
}
#btn a{
    color: black;
    text-decoration: none;
}